body {
  background-color: beige;
}

h1 {
  text-align: center;
}

form {
  padding: 0.25rem;
  margin: 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}

input {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

img {
  max-width: 450px;
  border-radius: 10px 10px 0 0;
}

.card {
  margin: auto;
  max-width: 450px;
  background-color: whitesmoke;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
}

h3,
p {
  padding: 0.5rem;
  margin: 0.25rem;
}
